/* объявление переменных */
:root {
  --primary-text-color: #757575;
  --second-text-color: #ffffff;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --second-back-color: #2f303a;
  --contacts-color: rgba(255, 255, 255, 0.6);
  --team-back-color: #f5f4fa;
}
/* стилизация header и заголовков(outline: 2px solid teal - это рамка;) */
.container {
  width: 1200px;
  padding: 0 15px;

  margin-left: auto;
  margin-right: auto;
}
/* цвет рамки в хедере #ECECEC */
.container .list,
.container .teammate,
.container .filter-item {
  margin: 0;
  padding: 0;
}
/* стилизация логотипа */
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;

  color: var(--title-text-color);
}

/* стилизация заголовков, кроме h1 по цвету и шрифту */
.list {
  margin: 0;
  padding: 0;
}
.main-nav {
  display: flex;
  align-items: center;
}
.side-nav {
  display: flex;
}
.side-nav .item + .item {
  margin-left: 50px;
}
.auth-nav.list {
  display: flex;
  margin-left: auto;
}
.auth-nav .item + .item {
  margin-left: 50px;
}

.side-nav a,
h2,
h3,
h4,
h5,
h6 {
  color: var(--title-text-color);
  margin: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.page-header li {
  list-style: none;
}
.page-header {
  border-bottom: 1px solid #ececec;
}

/* стилизация шрифта навигации по шрифту */
.auth-nav.list .item {
  display: flex;
  align-items: center;
}
.side-nav a,
.auth-nav a {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;

  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}
.side-nav.list {
  margin-left: 93px;
}
/* стилизация навигации: наведение, фокус */
.logo,
.side-nav a,
.auth-nav a,
.contacts a {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo span,
.logo:focus,
.logo:hover,
.logo:active,
.side-nav a:hover,
.side-nav a:focus,
.side-nav a:active,
.auth-nav a:focus,
.auth-nav a:active,
.auth-nav a:hover,
.contacts a:hover,
.contacts a:focus,
.contacts a:active {
  color: var(--accent-color);
}
/* ссылка текущей страницы будет выделяться*/
.side-nav .item {
  position: relative;
}
.side-nav .current {
  color: var(--accent-color);
}
.side-nav .item.current::after {
  position: absolute;
  bottom: -1px;
  content: "";
  width: 100%;
  border: 2px solid var(--accent-color);
  border-radius: 2px;
}
/* 250ms cubic-bezier(0.4, 0, 0.2, 1)  */
.enve {
  align-items: center;
  color: var(--primary-text-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.enve:hover,
.enve:active,
.enve:focus {
  color: var(--accent-color);
}
.envelope {
  margin-right: 10px;
  fill: currentColor;
}
.envelope:hover,
.envelope:focus,
.envelope:active {
  fill: currentColor;
}

/* стилизация body*/
/* стилизация основного шрифта и цвета текста */
body {
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.714;
}
/* стилизация фона hero и footer */
.hero-section {
  text-align: center;
  padding: 200px 0;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/Img.svg");
  background-size: 1600px 600px;
  background-repeat: no-repeat;
  background-position: center;
}
.hero-footer {
  text-align: left;
  padding: 60px 0;
  background-color: var(--second-back-color);
}

/* стилизация заголовка h1 */
.hero-section h1 {
  margin-top: 0;
  margin-bottom: 30px;
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;

  color: var(--second-text-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
/* стилизация кнопки + модальное окно */
.button {
  display: inline-block;
  background-color: var(--accent-color);
  color: var(--second-text-color);
  border: 0px;
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-align: center;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  height: 581px;

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.chrest {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  right: 0;

  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  margin-right: 8px;
  margin-top: 8px;
}
/* стилизация преимуществ */
.container .edge {
  display: flex;
  flex-wrap: wrap;
}
.half {
  padding-top: 94px;
}
.edge .item {
  width: 270px;
}
.edge .item + .item {
  margin-left: 30px;
}
.edge h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.edge li {
  list-style: none;
}
.edge {
  padding: 0;
  margin: 0;
}
.edge > li > p {
  margin: 0;
}
.container-min {
  display: flex;
  width: 270px;
  height: 120px;
  border: transparent;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
}
.iconedge {
  display: flex;
  width: 70px;
  height: 70px;
}
/* стилизация деятельности */
.job .list {
  display: flex;
}
.job .list .item + .item {
  margin-left: 30px;
}
.job li {
  list-style: none;
  position: relative;
}
.second-font {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.job {
  padding-top: 94px;
  padding-bottom: 94px;
}
.job-title {
  position: absolute;
  width: 370px;
  height: 70px;
  bottom: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

/* стилизация команды */
/* стилизация фона */
.team {
  background-color: var(--team-back-color);
  padding-top: 94px;
  padding-bottom: 94px;
}
.container .teammate {
  display: flex;
}
.container .teammate .item + .item {
  margin-left: 30px;
}
.team li {
  list-style: none;
}

/* стилизация имён участников команды */
.container .teammate {
  margin: 0;
}
.container .teammate .item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 270px;
  background-color: #fff;
}
.teamka {
  display: flex;
  padding: 0;
}
.container-team {
  display: flex;
}
.communic {
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
  width: 44px;
  height: 44px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.communic:hover,
.communic:active,
.communic:focus {
  background-color: var(--accent-color);
  fill: var(--second-text-color);
}
.teamka .container-team + .container-team,
.teamka-footer .container-team + .container-team {
  margin-left: 10px;
}

.container-team li a svg {
  margin: 0;
}
.teammate h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 10px;
}
.teammate .range {
  padding: 30px 32px;
}
/* стилизация должностей участников команды */
.teammate p {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin: 0;
  margin-bottom: 16px;
}
/* разметка секции с Клиентами */
.wrapul {
  display: flex;
  margin: 0;
  padding: 0;
}
.client {
  padding-top: 94px;
  padding-bottom: 94px;
}
.wrapul li {
  list-style: none;
}
.client .client-item {
  display: flex;
  flex-wrap: wrap;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  fill: #afb1b8;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client .client-item:hover,
.client .client-item:active,
.client .client-item:focus {
  border-color: var(--accent-color);
}
.wrapli:hover .client-item,
.wrapli:active .client-item,
.wrapli:focus .client-item {
  fill: var(--accent-color);
}
.wrapul .wrapli + .wrapli {
  margin-left: 30px;
}
/* стилизация footer */
.footer-address {
  display: inline-block;
  width: 231px;
  margin: 0;
  margin-right: 70px;
  align-self: baseline;
}
.teamka-footer {
  display: flex;
  padding: 0;
  margin: 0;
}
.address,
.contacts {
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  list-style: none;
  margin: 0;
}

.address,
.footer {
  color: var(--second-text-color);
  background-color: var(--second-back-color);
}
.container .logo.footer {
  display: flex;
  margin-bottom: 20px;
}
.address p {
  margin-bottom: 9px;
  margin-top: 0;
}
.address > ul > li:not(:last-child) {
  margin-bottom: 9px;
}
.address ul {
  padding: 0;
}
.contacts a {
  color: var(--contacts-color);
  background-color: var(--second-back-color);
  text-decoration: none;
}

/* стилизация Приглашений по соц.сетям */
.container-foot {
  display: inline-block;
  align-self: baseline;
}
.container.footerr {
  display: flex;
}

.edit {
  color: var(--second-text-color);
  text-transform: uppercase;
  margin-bottom: 20px;
}
.twitter .foot {
}
.communic.foot {
  fill: var(--second-text-color);
  background: rgba(255, 255, 255, 0.1);
}
.communic.foot:hover,
.communic.foot:active,
.communic.foot:focus {
  background-color: var(--accent-color);
}
/* стилизация Портфолио */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  color: var(--second-text-color);
}
.profile {
  padding-top: 94px;
  padding-bottom: 94px;
}
.container .filter {
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 50px;
}
.container .filter .item + .item {
  margin-left: 8px;
}
.portfolio-page p {
  font-size: 16px;
  line-height: 1.87;
}
.portfolio-page h2 {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin: 0;
}
.portfolio-page li {
  list-style: none;
}
/* стилизация Фильтра */
.container .filter-item {
  display: flex;
  flex-wrap: wrap;
}
.filter-item a {
  display: inline;
}
.filter-item li {
  width: 370px;
  padding: 0;
  margin-right: 30px;
  margin-bottom: 30px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-item li:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.filter-border {
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding: 20px 24px;
}
.filter-item li:nth-child(3n) {
  margin-right: 0;
}
.filter-item li:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.filter-item a {
  color: var(--primary-text-color);
  text-decoration: none;
}
.filter-item a h2 {
  margin-bottom: 4px;
}
.filter-item li a p {
  margin: 0;
}
.filter-button {
  display: inline-block;
  border-radius: 4px;
  min-width: 73px;
  border: 0;
  padding: 6px 22px;

  cursor: pointer;
  font-family: Roboto, sans-serif;

  background-color: var(--team-back-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: var(--title-text-color);

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover,
.filter-button:focus,
.filter-button:active {
  background-color: var(--accent-color);
  color: var(--second-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* рамка для фильтра  */
.border-filter {
  border-right: 1px solid #eeeeee;
}
img {
  display: block;
}

.techno {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 322px;
  height: 168px;
  color: var(--second-text-color);
}
.filter-title {
  position: relative;
  width: 370px;
  height: 294px;
  overflow: hidden;
}
.overlay {
  display: inline-block;
  position: absolute;
  width: 370px;
  height: 294px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-tit:hover .overlay,
.filter-tit:focus .overlay,
.filter-tit:active .overlay {
  transform: translateY(-100%);
}
